<p id="notice"><%= notice %></p>

<p>
  <strong>Beef:</strong>
  <%= @banana.beef %>
</p>

<p>
  <strong>Ham:</strong>
  <%= @banana.ham %>
</p>

<%= link_to 'Edit', edit_banana_path(@banana) %> |
<%= link_to 'Back', bananas_path %>
